/* line 14, ../../../style/style.scss */
html, body {
  font: normal 12px/1.5em "Lucida Grande", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 19, ../../../style/style.scss */
body {
  background: #222222 url("images/striped_bg.png") repeat;
}

/* line 22, ../../../style/style.scss */
.container {
  background: #bbbbbb url("images/noise.png") repeat;
  border: 3px solid #444;
  border-top: 0;
  margin: 0 auto;
  padding: 20px 0 0;
  width: 800px;
}

/* line 30, ../../../style/style.scss */
.gameContainer {
  height: 400px;
  margin: 0 auto 100px;
  position: relative;
  width: 600px;
}
/* line 35, ../../../style/style.scss */
.gameContainer > div {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 41, ../../../style/style.scss */
.gameContainer a.button {
  -webkit-box-shadow: 2px 2px 3px black;
  -moz-box-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #77aaff), color-stop(100%, #4488cc));
  background-image: -webkit-linear-gradient(top, #77aaff, #4488cc);
  background-image: -moz-linear-gradient(top, #77aaff, #4488cc);
  background-image: -o-linear-gradient(top, #77aaff, #4488cc);
  background-image: linear-gradient(top, #77aaff, #4488cc);
  text-shadow: 1px 1px 2px black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  padding: 12px 16px;
  position: relative;
  text-align: center;
}
/* line 55, ../../../style/style.scss */
.gameContainer a.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 40, color-stop(37.5%, #448aff), color-stop(100%, #2f6eae));
  background-image: -webkit-linear-gradient(top, #448aff 15px, #2f6eae 40px);
  background-image: -moz-linear-gradient(top, #448aff 15px, #2f6eae 40px);
  background-image: -o-linear-gradient(top, #448aff 15px, #2f6eae 40px);
  background-image: linear-gradient(top, #448aff 15px, #2f6eae 40px);
}
/* line 59, ../../../style/style.scss */
.gameContainer .main-menu {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fc4a8), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #4fc4a8, #000000);
  background-image: -moz-linear-gradient(top, #4fc4a8, #000000);
  background-image: -o-linear-gradient(top, #4fc4a8, #000000);
  background-image: linear-gradient(top, #4fc4a8, #000000);
  text-align: center;
  overflow: hidden;
  position: absolute;
}
/* line 64, ../../../style/style.scss */
.gameContainer .main-menu h1, .gameContainer .main-menu h2 {
  text-shadow: 2px 2px 2px #777722;
  color: #dfc353;
  font-size: 48px;
  margin: 34px 0 0;
  position: relative;
  text-align: center;
}
/* line 72, ../../../style/style.scss */
.gameContainer .main-menu h2 {
  font-size: 24px;
  margin: 24px 0 0;
}
/* line 76, ../../../style/style.scss */
.gameContainer .main-menu a.button {
  -webkit-box-shadow: 2px 2px 15px black;
  -moz-box-shadow: 2px 2px 15px black;
  box-shadow: 2px 2px 15px black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  text-shadow: 1px 1px 3px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7cadff), color-stop(100%, #2f6eae));
  background-image: -webkit-linear-gradient(top, #7cadff, #2f6eae);
  background-image: -moz-linear-gradient(top, #7cadff, #2f6eae);
  background-image: -o-linear-gradient(top, #7cadff, #2f6eae);
  background-image: linear-gradient(top, #7cadff, #2f6eae);
  display: inline-block;
  font-size: 24px;
  margin: 160px 32px 0;
  padding: 36px 48px;
}
/* line 85, ../../../style/style.scss */
.gameContainer .main-menu a.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8bb7ff), color-stop(100%, #4488cc));
  background-image: -webkit-linear-gradient(top, #8bb7ff, #4488cc);
  background-image: -moz-linear-gradient(top, #8bb7ff, #4488cc);
  background-image: -o-linear-gradient(top, #8bb7ff, #4488cc);
  background-image: linear-gradient(top, #8bb7ff, #4488cc);
}
/* line 88, ../../../style/style.scss */
.gameContainer .main-menu a.button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e9aff), color-stop(100%, #245586));
  background-image: -webkit-linear-gradient(top, #5e9aff, #245586);
  background-image: -moz-linear-gradient(top, #5e9aff, #245586);
  background-image: -o-linear-gradient(top, #5e9aff, #245586);
  background-image: linear-gradient(top, #5e9aff, #245586);
}
/* line 92, ../../../style/style.scss */
.gameContainer .main-menu img {
  height: 400px;
  position: absolute;
  opacity: .2;
}
/* line 96, ../../../style/style.scss */
.gameContainer .main-menu img.clone {
  left: 280px;
}
/* line 99, ../../../style/style.scss */
.gameContainer .main-menu img.player {
  left: -80px;
}
/* line 104, ../../../style/style.scss */
.gameContainer .level-select {
  display: none;
  text-align: center;
}
/* line 107, ../../../style/style.scss */
.gameContainer .level-select table.levels {
  border: 0;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}
/* line 112, ../../../style/style.scss */
.gameContainer .level-select table.levels td.level {
  background: #990000;
  border: 1px solid #004400;
  color: black;
  cursor: pointer;
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  width: 10%;
}
/* line 121, ../../../style/style.scss */
.gameContainer .level-select table.levels td.level.available {
  color: black;
  background: #33ff00;
}
/* line 124, ../../../style/style.scss */
.gameContainer .level-select table.levels td.level.available.done {
  background: #22cc77;
}
/* line 127, ../../../style/style.scss */
.gameContainer .level-select table.levels td.level.available:hover {
  background: #00bb00;
}
/* line 134, ../../../style/style.scss */
.gameContainer .playground {
  display: none;
  position: relative;
}
/* line 137, ../../../style/style.scss */
.gameContainer .playground .popup {
  background: rgba(50, 50, 50, 0.5);
  display: none;
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}
/* line 145, ../../../style/style.scss */
.gameContainer .playground .popup .message {
  -webkit-box-shadow: 0 0 15px black, 0 0 15px black;
  -moz-box-shadow: 0 0 15px black, 0 0 15px black;
  box-shadow: 0 0 15px black, 0 0 15px black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 5px solid rgba(20, 120, 20, 0.9);
  height: 60%;
  margin: 12% 20%;
  text-align: center;
  width: 60%;
}
/* line 157, ../../../style/style.scss */
.gameContainer .playground .popup .message h3 {
  margin: 10px 40px;
}
/* line 162, ../../../style/style.scss */
.gameContainer .playground canvas {
  background: none;
  display: block;
  position: absolute;
  z-index: 5;
}
/* line 167, ../../../style/style.scss */
.gameContainer .playground canvas#canvas1 {
  background: url("images/dotted_bg2.png") repeat;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 172, ../../../style/style.scss */
.gameContainer .playground .clonesLeftContainer {
  -webkit-box-shadow: 0 0 15px black, 0 0 15px black;
  -moz-box-shadow: 0 0 15px black, 0 0 15px black;
  box-shadow: 0 0 15px black, 0 0 15px black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  border: 5px solid rgba(20, 120, 20, 0.9);
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 60px;
  height: 60px;
  z-index: 10;
}
/* line 188, ../../../style/style.scss */
.gameContainer .playground .clonesLeftContainer .clonesLeft {
  margin-top: 14px;
  font-size: 36px;
}
/* line 192, ../../../style/style.scss */
.gameContainer .playground .clonesLeftContainer label {
  display: inline-block;
  font-size: 10px;
  margin-top: 5px;
}
/* line 199, ../../../style/style.scss */
.gameContainer .audioManager {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  display: none;
  height: auto;
  padding: 0;
  top: 400px;
}
/* line 207, ../../../style/style.scss */
.gameContainer .audioManager .controls {
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  color: #444;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  position: relative;
}
/* line 215, ../../../style/style.scss */
.gameContainer .audioManager .controls a {
  cursor: pointer;
}
/* line 217, ../../../style/style.scss */
.gameContainer .audioManager .controls a.playing {
  color: gray;
  text-decoration: line-through;
}
/* line 222, ../../../style/style.scss */
.gameContainer .audioManager .controls .songInfo {
  display: none;
}

/* line 229, ../../../style/style.scss */
.gameContainer + hr {
  margin: 0;
}

/* line 232, ../../../style/style.scss */
.credits {
  background: #ddd;
  padding: 100px 100px;
}

/* line 237, ../../../style/style.scss */
.compass_test {
  -webkit-box-shadow: 2px 2px 15px black;
  -moz-box-shadow: 2px 2px 15px black;
  box-shadow: 2px 2px 15px black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(37.5%, #77aaff), color-stop(100%, #5599ee));
  background-image: -webkit-linear-gradient(top left, #77aaff 15px, #5599ee 40px);
  background-image: -moz-linear-gradient(top left, #77aaff 15px, #5599ee 40px);
  background-image: -o-linear-gradient(top left, #77aaff 15px, #5599ee 40px);
  background-image: linear-gradient(top left, #77aaff 15px, #5599ee 40px);
  margin: 40px;
  padding: 20px;
}
/* line 243, ../../../style/style.scss */
.compass_test p {
  text-shadow: 1px 1px 3px black;
  color: white;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}

@-webkit-keyframes bounceInDown {
  /* line 287, ../../../style/style.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-9001px);
  }

  /* line 292, ../../../style/style.scss */
  80% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  /* line 297, ../../../style/style.scss */
  90% {
    -webkit-transform: translateY(-10px);
  }

  /* line 301, ../../../style/style.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  /* line 307, ../../../style/style.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-9001px);
  }

  /* line 312, ../../../style/style.scss */
  80% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  /* line 317, ../../../style/style.scss */
  90% {
    -moz-transform: translateY(-10px);
  }

  /* line 321, ../../../style/style.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  /* line 327, ../../../style/style.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-9001px);
  }

  /* line 332, ../../../style/style.scss */
  80% {
    opacity: 1;
    -o-transform: translateY(20px);
  }

  /* line 337, ../../../style/style.scss */
  90% {
    -o-transform: translateY(-10px);
  }

  /* line 341, ../../../style/style.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  /* line 347, ../../../style/style.scss */
  0% {
    opacity: 0;
    transform: translateY(-9001px);
  }

  /* line 352, ../../../style/style.scss */
  80% {
    opacity: 1;
    transform: translateY(20px);
  }

  /* line 357, ../../../style/style.scss */
  90% {
    transform: translateY(-10px);
  }

  /* line 361, ../../../style/style.scss */
  100% {
    transform: translateY(0);
  }
}

/* line 366, ../../../style/style.scss */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
/* line 381, ../../../style/style.scss */
.bounceInDown.quick {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -ms-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
}
