<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
<div id="ears">
	<div class="ear-container left">
		<div class="ear outline"></div>
		<div class="ear-top"></div>
		<div class="ear"></div>
		<div class="ear-inner"></div>
	</div>
	<div class="ear-container right">
		<div class="ear outline"></div>
		<div class="ear-top"></div>
		<div class="ear"></div>
		<div class="ear-inner"></div>
	</div>
</div>
